<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretario</title>
</head>
<body style="background-color: #f2f2f2;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #483d8b;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Secretario</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex">
        <a class="nav-link text-white" href="#">Cerrar Sesion</a>
      </form>
    </div>
  </div>
</nav>
    <pre><code></code></pre>
    <pre><code></code></pre>
    <pre><code></code></pre>
    <pre><code></code></pre>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="box-shadow: 5px 10px 10px rgba(0, 0,0,0.3);">
                    <div class="card-body">
                        <h5 class="card-title">Bienvenido <strong>Usuario</strong></h5>
                      <p class="card-text">Nos da gusto verte por aqui de nuevo.</p>
                    </div>
                  </div>
            </div>
        </div>
        <pre><code></code></pre>
        <pre><code></code></pre>
        <pre><code></code></pre>
        <div class="row">
            <div class="col">
                <div class="card" style="box-shadow: 5px 10px 10px rgba(0, 0,0,0.3);">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Agremiados</strong></h5>
                      <p class="card-text">Administra a tus agremiados, aqui puedes hacer altas, bajas modificaciones y lectura de los datos de una persona.</p>
                      <hr>
                      <a href="agremiados.html" class="btn btn-outline-success">Entrar</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>