<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body style="background-color: #f2f2f2;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #483d8b;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="panel.html">Regresar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex">
        <a class="nav-link text-white" href="#">Cerrar Sesion</a>
      </form>
    </div>
  </div>
</nav>
    <pre><code></code></pre>
    <pre><code></code></pre>
    <pre><code></code></pre>
    <pre><code></code></pre>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem; box-shadow: 5px 10px 10px rgba(0, 0,0,0.3);">
            <img src="https://img.chilango.com/2016/05/te-enamoraste-de-alguna-maestra-o-maestro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p>Ana Gutierrez Camacho</p><br>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-outline-primary">Ver</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-info">Editar</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-danger">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; box-shadow: 5px 10px 10px rgba(0, 0,0,0.3);">
            <img src="https://www.unioncancun.mx/sites/default/files/styles/galeria/public/maestrostradiconales_3.jpg?itok=dAsDkTc-" class="card-img-top" alt="...">
            <div class="card-body">
              <p>Miguel Angel Medina Camacho</p><br>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-outline-primary">Ver</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-info">Editar</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-danger">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; box-shadow: 5px 10px 10px rgba(0, 0,0,0.3);">
            <img src="https://www.eisdigital.es/img-noticias/foto628_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p>Esteban Medina Camacho</p><br>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modaleditar">Editar</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modaleliminar">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- Scrollable modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>mostramos todos los datos</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modaleditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>se despliega la informacion del usuario para ser editada</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modaleliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>mostramos un mensaje de confirmcion antes de eliminar un agremiado</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>