<!DOCTYPE html>
<html lang="en" class="fondo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">

    <link rel="icon" type="image/png" href="img/logo.jpg">

    <title>Inicio de sesión</title>
</head>
<body>
    <div class="form-head">
        <p style="text-align: center;"><img src="img/logo cobaem.png" id="logo" style="width: 62px; height: 61px;"></p>
        <p style="text-align: center;">Sindicato Independiente de Trabajadores del Colegio de Bachilleres del Estado de Michoacán</p>
        <p style="text-align: center;">SITCBEM</p>
    </div>
    <section class="formulario">

        <div>
        <h4 style="color: white;">Iniciar sesión</h4>
        </div>
    
        <div id="tipo-usuario"">
        <label for="" class="formulario-label" style="color: white;">Tipo de usuario</label>
        <br><br>
        <select name="mes" id="tipo_usuario" style="width: 340px; height: 38px;">
            <option value="">Seleccione tipo de usuario</option>
            <option value="Administrador">Administrador</option>
            <option value="Secretario">Secretario</option>
            <option value="Operador">Operador</option>
        </select>
        </div>

        <br>
        <label for="" class="formulario-label" style="color: white;">Usuario</label>
        <input class="inputs" type="text" name="nombre" id="nombre">
        

        <label for="" class="formulario-label" style="color: white;">Contraseña</label>
        <input class="inputs" type="text" name="apellidoP" id="apellidoP">

        <input class= "boton" type="submit" value="Validar registro" id="validar">
    </section>
    <br><br><br>
    <br>
    <br>
</body>
</html>